body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f2f2f2;
}

h1 {
    color: #333;
}

#video-grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 20px;
}

.video {
    width: 400px;
    height: 300px;
    margin: 10px;
    background-color: #ccc;
}

.bottom-middle {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    margin: 5px;
}